In [92]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Load dataset

In [93]:
dataset = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [94]:
dataset.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,1,1,228.69,36.6,2,1
1,51676,1,61.0,0,0,1,0,0,202.21,2.0,0,1
2,31112,1,80.0,0,1,1,1,0,105.92,32.5,0,1
3,60182,1,49.0,0,0,1,1,1,171.23,34.4,1,1
4,1665,1,79.0,1,0,1,0,0,174.12,24.0,0,1

In [95]:
dataset.shape

(5110, 12)

In [96]:
dataset['stroke'].value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [97]:
# memisahkan data dan label
X = dataset.drop(columns='stroke', axis=1)
Y = dataset['stroke']

In [98]:
print(X)

         id  gender   age  hypertension  heart_disease  ever_married  \
0      9046       1  67.0             0              1             1
1     51676       1  61.0             0              0             1
2     31112       1  80.0             0              1             1
3     60182       1  49.0             0              0             1
4      1665       1  79.0             1              0             1
...     ...     ...   ...           ...            ...           ...
5105  18234       1  80.0             1              0             1
5106  44873       1  81.0             0              0             1
5107  19723       1  35.0             0              0             1
5108  37544       1  51.0             0              0             1
5109  44679       1  44.0             0              0             1

      work_type  Residence_type  avg_glucose_level   bmi  smoking_status
0             1               1             228.69  36.6               2
1             0               0             202.21   2.0               0
2             1               0             105.92  32.5               0
3             1               1             171.23  34.4               1
4             0               0             174.12  24.0               0
...         ...             ...                ...   ...             ...
5105          1               1              83.75   2.0               0
5106          0               1             125.20  40.0               0
5107          0               0              82.99  30.6               0
5108          1               0             166.29  25.6               2
5109          2               1              85.28  26.2               3

[5110 rows x 11 columns]

In [99]:
print(Y)

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

Standarisasi

In [100]:
X = dataset.drop(columns='stroke', axis=1)
Y = dataset['stroke']

In [101]:
print(X)
print(Y)

         id  gender   age  hypertension  heart_disease  ever_married  \
0      9046       1  67.0             0              1             1
1     51676       1  61.0             0              0             1
2     31112       1  80.0             0              1             1
3     60182       1  49.0             0              0             1
4      1665       1  79.0             1              0             1
...     ...     ...   ...           ...            ...           ...
5105  18234       1  80.0             1              0             1
5106  44873       1  81.0             0              0             1
5107  19723       1  35.0             0              0             1
5108  37544       1  51.0             0              0             1
5109  44679       1  44.0             0              0             1

      work_type  Residence_type  avg_glucose_level   bmi  smoking_status
0             1               1             228.69  36.6               2
1             0               0             202.21   2.0               0
2             1               0             105.92  32.5               0
3             1               1             171.23  34.4               1
4             0               0             174.12  24.0               0
...         ...             ...                ...   ...             ...
5105          1               1              83.75   2.0               0
5106          0               1             125.20  40.0               0
5107          0               0              82.99  30.6               0
5108          1               0             166.29  25.6               2
5109          2               1              85.28  26.2               3

[5110 rows x 11 columns]
0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

Memisahkan data

In [102]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [103]:
print(X.shape, X_train.shape, X_test.shape)

(5110, 11) (4088, 11) (1022, 11)

Membuat data latih svm

In [104]:
classifire = svm.SVC(kernel='linear')

In [105]:
classifire.fit(X_train, Y_train)

SVC(kernel='linear')

Model evaluasi mengukur tingkat akurasi

In [106]:
X_train_prediction = classifire.predict(X_train)
training_data_accurasy = accuracy_score(X_train_prediction, Y_train)

In [107]:
print('Akurasi data training adalah = ', training_data_accurasy)

Akurasi data training adalah =  0.9454500978473581

In [108]:
X_test_prediction = classifire.predict(X_test)
test_data_accurasy = accuracy_score(X_test_prediction, Y_test)

In [109]:
print('Akurasi data testing adalah =', test_data_accurasy)

Akurasi data testing adalah = 0.9383561643835616

In [110]:
input_data = (30468,1,58,1,0,1,1,1,87.96,39.2,0)
input_data_as_numpy_array = np.array(input_data)
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)
prediction = classifire.predict(input_data_reshape)
print(prediction)
if (prediction[0] == 0):
    print('Tidak terdeteksi stroke')
else :
    print('Terdeteksi stroke')

[0]
Tidak terdeteksi stroke

c:\Users\Acer\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Simpan model

In [111]:
import pickle

In [112]:
filename = 'heart_model.sav'
pickle.dump(classifire, open(filename,'wb'))